/* FONTS */
@font-face {
    font-family: "Procrastinating Pixie";
    src: url(fonts/ProcrastinatingPixie.ttf) format("truetype");
}

@font-face {
	font-family: "The Last Call";
	src: url(fonts/TheLastCall.ttf) format("truetype");
}

body {
  font-family: overpass, sans-serif;
  background-color: #F0F0F0;
  color: white;
}

a {
	text-decoration: underline;
	color: inherit;
}

.blue-grey-text a:hover, .blue-grey-text a:active, .blue-grey-text a:focus {
	color: #d06e0b;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	color: #78dde4;
	text-decoration: underline;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: bold;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	margin-top: .4em;
}

h3 {
  	font-family: 'Oswald', sans-serif;font-family: 'Raleway', sans-serif;
  	font-size: 2em;
  	font-weight: 200;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
}

p {
	font-family: overpass, sans-serif;
	text-align: justify;
}

#landing span {
	font-family: 'Oswald', sans-serif;
  	font-size: 2em;
}

#about-me-col span {
	font-family: 'Oswald', sans-serif;
  	font-size: 2em;
}

#unicyclist {
	font-family: "The Last Call", sans-serif;
	font-weight: 100;
	letter-spacing: .03em;
}

#author {
	font-family: "Special Elite", serif;
  	font-weight: 300;
  	font-style: normal;
	letter-spacing: .3em;
}

#engineer {
	font-family: "Procrastinating Pixie", sans-serif;
	letter-spacing: .1em;
}

/* HELPERS */

.flex {
	display: flex;
}

/* LANDING */

#landing{
	background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)), url('../img/Banner1.jpg') center;
	background-size: cover;
	min-height: 100vh;
	width: 100%
}

#profile-img-col {
	justify-content: center;
}  

#profile {
  max-height: 50vh;
  max-width: 40vw;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.bordered-col {
	border-right-style: solid;
	border-left-style: solid;
	border-color: white;
}

/* ABOUT ME */

#about-me-col {
	background-color: #f28724;
	padding: 0em 2em 2em 2em;
	text-align: center;
	font-size: 1.1em;
}

#about-me-img {
	background-image: url('../img/banner6.jpg');
	background-size: cover;
	background-position: top left;
}

.social-icon {
	height: 50px;
	width: 50px;
}

.social-icon:hover {
	transform: scale(1.05);
	transition: transform .2s ease;
}

/* UNICYCLIST */

#unicyclist-row {
	background: linear-gradient(rgba(235, 235, 235, 0.40), rgba(235, 235, 235, 0.90)), url('../img/Banner5.jpg');
	background-size: cover;
	background-position: bottom 50% right 46%;
}

#video-row {
	height: 100%;
}

.video {
	aspect-ratio: 16/9;
	width: 90%;
	height: auto;
	max-width: 500px;
}

/* AUTHOR */

#author-row {
	background: linear-gradient(rgba(50, 50, 50, 0.93), rgba(50, 50, 50, 0.93)), url('../img/books.jpg');
	background-size: cover;
	background-position: 50%;
}

#series {
	max-height: 500px;
	max-width: 100%; 
}

#author-row .btn-large, #author-row .btn {
	justify-content: center;
	width: 100%;
}

#son-of-time-website-button {
	background: linear-gradient(to right, rgb(208, 0, 32), rgb(153 0 0));
}

#instagram-button {
	background: linear-gradient(to right, rgb(255 141 0), rgb(230, 27, 115));
}

#facebook-button {
	background: linear-gradient(to right, #006495, #05349d);
}

#author-button-row a:hover.btn-large {
	text-decoration: none;
	transform: scale(1.03);
}

#author-row .card img {
	height: 300px;
}

#author-row .card {
	max-height: 300px;
	margin-bottom: 2em;
}

#author-row .card-action a {
	display: flex;
	padding: 2px;
	height: 60px;
	font-size: 1.2em;
}

#son-of-time-description {
	font-size: 1vw;
}

#sierra-rod-description {
	font-size: .86vw;
}

.card-content p {
	justify-content: center;
    display: flex;
    flex-direction: column;
}

/* ENGINEER */

#engineer-row {
	background: linear-gradient(rgba(203, 228, 238, 1.0), rgba(232, 239, 242, 0.8)), url('../img/blueprint.png');
	background-size: cover;
	width: 100%;
}

#pdf-viewer {
	height: 600px;
}

#engineer-row .divider {
	background-color: #263238;
}

/*   MEDIA QUERIES   */	

@media only screen and (min-width: 2200px) {
	#unicyclist-row {
		background-position: bottom 55% right 46%;
	}

	h1 {
		font-size: 4vw;
	}
}

@media only screen and (max-width: 1700px) {
	/* Force columns to stack so videos look good on smaller screens */
	#video-row .xl6 {
        grid-column: auto / span 12 !important;
    }
}

/* Materialize MEDIUM AND DOWN media query breakpoint */
@media only screen and (max-width: 992px) {
	h1 {
		font-size: 4.5em;
	}
	
	#profile {
		width: 325px;
		height: 325px;
		max-width: inherit;
		max-height: inherit;
	}

	#arrow {
		height: 40px;
	}
	
	#about-me-img {
		background-position: 16%;
	}

	#about-me span {
		font-size: 1.2em;
	}

	.social-icon {
		height: 40px;
		width: 40px;
	}

	#author-button-row .btn-large {
		font-size: 2vw;
	}

	#author-button-row .fa {
		font-size: 2.7vw;
	}

	#author-row .card img {
		height: 250px;
	}

	#book-card-row {
		gap: 0px;
	}

	#author-row .card-content {
		padding: 15px 20px;
	}

	#son-of-time-description {
		font-size: 1.9vw;
	}
	
	#sierra-rod-description {
		font-size: 1.6vw;
	}

	#author-row .card-action a {
		height: 40px;
		font-size: 1em;
	}
}

/* Special media query for unicyclist row to center background image */
@media only screen and (max-width: 850px) {
	#unicyclist-row {
		background-position: bottom 50% right 46%;
	}
}

/* Materialize SMALL AND DOWN media query breakpoint */
@media only screen and (max-width: 600PX) {
	#profile {
		width: 80vw;
		height: 80vw;
	}
	
	#about-me-img {
		height: 250px;
	}

	.video {
		width: 90%;
	}

	#vid1 {
		margin-top: 1em;
	}

	#series {
		height: 50vw;
		width: 50vw;
	}

	#author-button-row .btn-large {
		height: 40px;
	}

	#author-button-row .btn-large {
		font-size: 3vw;
	}

	#author-button-row .fa {
		font-size: 3vw;
	}

	#author-row .card img {
		height: 200px;
	}

	#son-of-time-description {
		font-size: 2.35vw;
	}
	
	#sierra-rod-description {
		font-size: 1.9vw;
	}

	#author-row .card-content {
		padding: .5em 1em;
	}

}

/* SUPER SMALL AND DOWN media query breakpoint */
@media only screen and (max-width: 400px) {
	h1 {
		font-size: 15vw;
	}

	#landing span, #about-me-col span {
		font-size: 6vw;
	}

	#author-button-row .btn-large {
		font-size: 2.5vw;
	}

	#author-button-row .fa {
		font-size: 4vw;
	}
}