
body {
  margin: 0;
  position: relative;
  background-color: #313030;
  font-family: overpass, sans-serif;
  color: white;
}


a {
	color: #f16600;
	text-decoration: none;
}

ul {
	margin-left: 0;
}

a:hover, a:active, a:focus {
	color: #049da3;
	text-decoration: underline;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 5em;
  font-weight: bold;
  margin: .3em;
}


h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 200;
}


h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 3em;
  margin-top: .4em;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 2em;
  margin-top: .4em;
}

li {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 2em;
  display: inline-block;
  padding: 0 2em;
  border-color: white;
  border-right-style: solid;
  border-left-style: solid;
}

#logo {
  max-height: 450px;
  max-width: 450px;
  box-shadow: none;
  margin-bottom: 30px;
  /*filter: drop-shadow(0px 0px 3px orange);*/
}


#book {
max-height: 500px;
margin-top: 20px;
}

#crew-info p {
	font-size: .8em;
}


img {
	border: none;
}


p {
	margin: 1em 1em;
	font-family: overpass, sans-serif;
	color: white;
	font-size: 1em;
	text-align: justify;
}


#fb {
	background-color: #3b5998;
	vertical-align: middle;
	text-align: left;
	transition: transform .5s;
}


#fb:hover {
	text-decoration: none;
	transform: scale(1.02);
}


#fb span {
	vertical-align: middle;
}


#sot {
	background-color: #f28724;
	vertical-align: middle;
	background-position: center;
	text-align: center;
	transition: transform .5s;
	height: 66px;
	left: 20px;
}


#sot:hover {
	text-decoration: none;
	transform: scale(1.02);
}


#icon {
	max-width: 1.5em;
	vertical-align: middle;
	margin-right: 1em;
	text-align: left;
}

#unicrew_logo {
	border-radius: 100%;
	margin: 1em;
	max-width: 250px;
}

#arrow {
	box-shadow: none;
}
.background-image {
  background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)), url('img/LA.jpg') center;
  height: 1000px;
  background-size: cover;
  filter: blur(0px);
  text-align: center;
}


.background-content {
  position: absolute;
  width: 100%;
  margin-top: 1em;
}


.content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
}


.about-me {
  background-color: #f28724;
  padding: 1em 0em;
  height: 400px;
  text-align: center;
  font-size: 1.1em;
}


.about-me-img {
	background-image: url('img/anthony.jpg');
	background-size: cover;
	background-position: top center;
	height: 400px;
}




.row {
	max-width: 100%;
}


.sot-background {
	text-align: center;
	background: linear-gradient(rgba(50, 50, 50, 0.96), rgba(50, 50, 50, 0.96)), url('img/books.jpg');
	background-size: cover;
	margin: 0;
}


.sot-content {
	margin-bottom: 2em;
	font-size: 1.4em;
}


.funfact {
	background-color: #f28724;
}

.funfact-img {
	background: url('img/whitney.jpg');
	background-size: cover;
	background-position:  center;
	height: 400px;
	background-repeat: false;
}

.unicrew-background {
	text-align: center;
	background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url('img/newspaper.jpg');
	background-size: cover;
	margin: 0;
}

.unicrew-content {
	font-size: 1.4em;
	margin-bottom: 2em;
}

.unicrew-content p {
	font-size: .9em;
	margin: 0 2em;
	padding: .2em .5em;
	background-color: rgba(0, 0, 0, .3);
}

.unicrew-content h4 {
	text-shadow: 2px 2px 10px black;
}

.videos p {
		background: none;
		margin-bottom: 2em;
		text-align: center;
		font-size: .6em;
}

/*FOOTER CONTENT*/
	
.footer {
	background-color: #f28724;
	text-align: center;
	padding: 2em;
}

.sites {
	display: inline-block;
	padding: 1em 0;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	
	width: 500px;
}

.social {
	border-top: 2px solid white;
	padding-top: 1em;
}

.footer img {
	height: 40px;
	width: 40px;
	margin: 1em 2em;
	box-shadow: none;
}

.footer a:hover, a:active, a:focus {
	color: #f9f4e8;
	text-decoration: underline;
}

.footer a {
	color: white;
	text-decoration: underline;
}

.footer h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
}
	
#sitelink {
	margin: 2em;
	font-size: 1em;
}
	
.final {
	font-size: .7em;
	border-bottom: 2px solid white;
	padding-bottom: 1em;
}
	
#sitelength {
	width: auto;
}
	
/*   media queries   */	
	
	
	
@media only screen and (max-width: 1474px) {
	h1 {
		font-size: 4.8em;
	}
	li {
		font-size: 1.7em;
	}
}

@media only screen and (max-width: 1415px) {
	h1 {
		font-size: 4.5em;
	}
}

@media only screen and (max-width: 1278px) {
	iframe {
		width: 300px;
		height: 168px;
	}
	p {
		font-size: 1em;
	}
	.about-me {
		font-size: .96em;
		
}


	
@media only screen and (max-width: 1023px) {
	h3 {
		font-size: 2.5em;
	}
	#book {
		max-height: 450px;
	}
	.unicrew-content {
		font-size: 1.2em;
	}
	.sot-content {
		font-size: 1.2em;
	
	}
	.about-me {
		font-size: 1em;
		height: auto;
	}
	.row {
		display: inline-block;
	}
	#button-row {
		width: 100%;
	}
	#icon {
		max-width: 1.3em;
	}
	
}



@media only screen and (max-width: 975px) {
	h1 {
		font-size: 3em;
	}
	#logo {
		max-height: 350px;
		max-width: 350px;
	}
	.background-image {
		height: 650px;
	}
	li {
		font-size: 1.1em;
	}
	#arrow {
		height: 50px;
	}
	h2 {
		font-size: 1.5em;
	}

	
@media only screen and (max-width: 885px) {
	.background-image {
		height: 750px;
	}
}

@media only screen and (max-width: 585px) {
	h1 {
		font-size: 2.5em;
	}
	li {
		font-size: .8em;
	}
	p {
		font-size: .8em;
	}
	#unicrew_logo {
		max-width: 180px;
	}
	.unicrew-content {
		font-size: 1em;
	}
	.sot-content {
		font-size: 1em;
	}
	.social img {
		height: 35px;
		width: 35px;
		margin: .9em;
	}
	
}

@media only screen and (max-width: 487px) {
	h1 {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.4em;
	}
	.sot-content {
		font-size: 1em;
	}
	.unicrew-content {
		font-size: 1em;
	}
	.about-me {
		font-size: .8em;
	}
	#logo {
		max-width: 240px;
	}
	#arrow {
		height: 40px;
	}
	li {
		font-size: .7em;
		border-width: 2px;
	}
	#book {
		max-height: 350px;
	}
}

@media only screen and (max-width: 340px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.2em;
	}
	li {
		font-size: .6em;
	}
	#logo {
		max-width: 180px;
	}
	#arrow {
		height: 30px;
	}
	iframe {
		width: 280px;
		height: 158px;
	}
	.background-image {
		height: 550px;
	}
		
}


/*weird foundation thing to make the button text not wrap*/
@media screen and (min-width: 40em) {

.medium-4 {
    width: 40%;
}



/*
<div class="nav">
  <ul>
    <a href="#"><li>About Me</li></a>
    <a href="#"><li>Home</li></a>
    <a href="#"><li>Projects</li></a>
  </ul>
</div>
            
            
.nav {
  text-align: center;
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 100%;
}

li {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  margin: 0 1em;
  border: 2px solid white;
  transition: transform .5s;
}

li:hover {
  background-color: rgba(230,230,230,.3);
  transform: scale(1.05);
}
            
*/